/* style.css
- Fuente
- Reset / Normalizar
- Variables
- Global
- Header
- Main
- Footer
*/

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf'),
        url('../fonts/Montserrat-Bold.ttf'),
        url('../fonts/Montserrat-Medium.ttf'),
        url('../fonts/Montserrat-SemiBold.ttf'),
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    /* Step -2: 11.1111px → 10.24px */
    --step--2: clamp(0.64rem, 0.7192rem + -0.066vi, 0.6944rem);
    /* Step -1: 13.3333px → 12.8px */
    --step--1: clamp(0.8rem, 0.8485rem + -0.0404vi, 0.8333rem);
    /* Step 0: 16px → 16px */
    --step-0: clamp(1rem, 1rem + 0vi, 1rem);
    /* Step 1: 19.2px → 20px */
    --step-1: clamp(1.2rem, 1.1773rem + 0.0606vi, 1.25rem);
    /* Step 2: 23.04px → 25px */
    --step-2: clamp(1.44rem, 1.3843rem + 0.1485vi, 1.5625rem);
    /* Step 3: 27.648px → 31.25px */
    --step-3: clamp(1.728rem, 1.6257rem + 0.2729vi, 1.9531rem);
    /* Step 4: 33.1776px → 39.0625px */
    --step-4: clamp(2.0736rem, 1.9064rem + 0.4458vi, 2.4414rem);
    /* Step 5: 39.8131px → 48.8281px */
    --step-5: clamp(2.4883rem, 2.2322rem + 0.683vi, 3.0518rem);
    /* Step 6: 47.7757px → 61.0352px */
    --step-6: clamp(2.986rem, 2.6093rem + 1.0045vi, 3.8147rem);
    --var-color-white: #ffffff;
    /* Color de fondo */
    --var-color-black: #000000;
    /* Color de las tipografías */
    --var-color-gray: #707070;
    /* Color del texto de la sección Contact y de los botones del lightbox */
    --var-color-light-gray: #F6F6F6;
    /* Color de fondo del lightbox, del footer y del botón para cerrar el lightbox*/
}

body {
    font-family: "Montserrat";
    color: var(--var-color-black);
    margin: 0;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.spacing {
    padding: 0 4rem;
    margin: 3rem 0 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header
Descripción: estilos para el header con menú hamburguesa
Estructura: 
    - header
    - Header-pic
    - Header-img
    - Header-nav
    - Header-a
    - Header-button
    - Header-span
    - Header-ul
*/
header {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--var-color-white);
    z-index: 998;
    padding: 0 1rem;
}

.Header-pic {
    z-index: 999;
}

.Header-img {
    width: clamp(3.75rem, 0rem + 10vw, 12rem);
    padding: .9375rem;
}

.Header-nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 997;
    -webkit-user-select: none;
    user-select: none;
}

.Header-a {
    transition: color 0.3s ease;
}

.Header-nav a:hover {
    text-decoration: underline;
    /* Estilo al flotar sobre el elemento */
}

.Header-button {
    padding: .9375rem;
    display: block;
    cursor: pointer;
    z-index: 996;
    background: none;
    border: none;
}

/* Menu hamburguesa */
.Header-span {
    display: block;
    width: 2rem;
    height: .25rem;
    margin-bottom: 15%;
    position: relative;
    background-color: var(--var-color-black);
    border-radius: 0.2rem;
    z-index: 995;
    transform-origin: 15% 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

/* Clase .isClicked añadida con JavaScript para cambiar la aparencia del botón a un botón de cerrar */
.Header-button.isClicked .Header-span {
    opacity: 1;
    transform: rotate(45deg) translate(0, -190%);
    background-color: #000;
}

/* Transformación del botón cuando la clase .isClicked es añadida */
.Header-button.isClicked span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* Transformación del botón cuando la clase .isClicked es añadida */
.Header-button.isClicked span:nth-child(2) {
    transform: rotate(-45deg) translate(0, 110%);
}

.Header-ul {
    font-size: var(--step-3);
    line-height: var(--step-4);
    width: 100%;
    padding: 15% 0;
    position: absolute;
    top: 3%;
    text-align: center;
    background-color: var(--var-color-white);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -250%);
    /* Transformación para que la lista no aparezca cuando el menú hamburguesa esté cerrado */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.Header-button.isClicked~ul {
    transform: none;
}

/* Sección Title
Descripción: estilos para la primera sección con el h1 y una imágen de fondo
Estructura: 
    - SectionTitle
    - SectionTitle-h1
    - SectionTitle-bg
*/
.SectionTitle {
    display: block;
}

.SectionTitle-h1 {
    width: 100vw;
    padding: 0 7%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    /* Opacidade 0 para que no aparezca al cargar la página */
    transform: translate(-50%, -50%);
    /* Transformación para cambiar la posición del h1 */
    transition: opacity 3s ease-in;
    /* 3s de duración para obtener el efecto deseado de una película */
}

.SectionTitle-h1.isLoaded {
    opacity: 1;
    z-index: 994;
}

.SectionTitle-bg {
    height: 80vh;
    background-image: url(../img/alejandra-cifre-gonzalez-ylyn5r4vxcA-unsplash.jpg);
    /* Imágen que se adapta a los modos horizontales y verticales de pantalla */
    background-size: cover;
    background-position: center;
    background-repeat: none;
    transform: translate(0, 0%);
    transition: opacity 2s ease-in;
    /* 2s de duración para que se pueda ver la imágen antes de que cambie la opacidad */
    opacity: 1;
}

.SectionTitle-bg.isLoaded {
    background-color: var(--var-color-white);
    opacity: 0.3;
    z-index: 993;
}

/* Sección About 
Descripción: estilos para la sección compuesta por contenido informativo acerca de la empresa
Estructura: 
    - SectionAbout-img
    - ectionAbout-article--nosotros
*/
.SectionAbout-img {
    width: 100%;
    transform: scale(1);
    /* transformación en el tamaño de las imágenes para crear dinamismo */
    transition: transform 0.5s ease-in-out;
}

.SectionAbout-img:hover {
    transform: scale(1.02);
}

.SectionAbout-article--nosotros {
    margin-top: 4rem;
}

/* Sección Projects 
Descripción: estilos para la sección con las imágenes de proyectos de la empresa
Estructura: 
    - SectionProjects-img
    - SectionProjects-article
    - SectionProjects-h2
    - SectionProjects-overlay
    - SectionProjects-lightbox
    - large
*/
.SectionProjects-img {
    width: 100%;
    transform: scale(1);
    /* transformación en el tamaño de las imágenes para permitir ver más detalles de los proyectos */
    transition: transform 0.5s ease-in-out;
}

.SectionProjects-img:hover {
    transform: scale(1.05);
}

.SectionProjects-article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 2rem;
}

.SectionProjects-h2 {
    margin-bottom: 0;
}

/* Todas las clases que tienen que ver con el lightbox tienen opacidad 0 y tamaño 0 para garantizar que no influyan en la apariencia de la versión para dispositivos pequeños */
.SectionProjects-overlay {
    opacity: 0;
}

.SectionProjects-lightbox {
    width: 0;
    height: 0;
    opacity: 0;
}

.large {
    width: 0;
    height: 0;
}

/* Sección Map 
Descripción: estilo para que el mapa de Google Maps sea del mismo ancho que las otras secciones.
Estructura: 
    - SectionMap-iframe
*/
.SectionMap-iframe {
    width: 100%;
    height: 15rem;
}

/* Sección Contact 
Descripción: estilos para la sección con enlaces de contacto de la empresa y un formulario.
Estructura: 
    - SectionContact-article
    - SectionContact-a
    - SectionContact-p--address
    - gray
    - SectionContact-help
    - large
    - SectionContact-form
    - hidden
    - SectionContact-input
    - SectionContact-text
    - SectionContact-submit
*/
.SectionContact-article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.SectionContact-a {
    margin: -0.5rem 0 0.5rem;
}

.SectionContact-a:hover {
    text-decoration: underline;
    /* Estilo al flotar sobre el elemento */
}

.SectionContact-p--address {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: -0.5rem;
}

.gray {
    color: var(--var-color-gray);
    font-size: var(--step--1);
}

.SectionContact-help {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 3rem;
}

.SectionContact-form {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 0.8rem;
    padding: 0 4rem;
}

.hidden {
    position: absolute;
    /* Oculta todas las etiquetas */
    clip: rect(1px 1px 1px 1px);
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.SectionContact-input {
    width: 100%;
    border: 0 none;
    color: var(--var-color-gray);
    border-bottom: 0.05rem solid var(--var-color-gray);
    margin-bottom: 3%;
    font-family: inherit;
}

.SectionContact-text {
    width: 100%;
    border: 0 none;
    color: var(--var-color-gray);
    border-bottom: 0.05rem solid var(--var-color-gray);
    margin-bottom: 3%;
    font-family: inherit;
}

/* Cambia el estilo por defecto del formulario */
.SectionContact-input:focus,
.SectionContact-text:focus {
    outline: none;
    color: var(--var-color-black);
}

.SectionContact-submit {
    align-self: flex-end;
    margin-top: 1rem;
    border-radius: 0;
    text-transform: uppercase;
    padding: 1rem;
    background-color: var(--var-color-white);
    font-family: inherit;
}

/* Invierte los colores del elemento */
.SectionContact-submit:hover {
    color: var(--var-color-white);
    background-color: var(--var-color-black);
}

/* Footer 
Descripción: estilos para el footer con el logo y una lista con imágenes.
Estructura: 
    - footer
    - Footer-img--logo
    - Footer-ul
    - Footer-img
*/
footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--var-color-light-gray);
    padding: 0 1rem;
}

.Footer-img--logo {
    width: clamp(3.125rem, 0rem + 8.3333vw, 10rem);
}

.Footer-ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.Footer-img {
    width: 3rem;
    padding-left: .9375rem;
}


/* MEDIA QUERIES */

/* Dispositivos pequeños (teléfonos, 576px o más) */
@media (min-width: 576px) {

    /* Sección Map */
    .SectionMap-iframe {
        min-height: 20rem;
        /* Cambio en la altura para mantener una cierta proporción */
    }
}

/* Dispositivos medianos (tablets, 768px o más) */
@media (min-width: 768px) {

    /* Cambio en el padding y margin para mantener una cierta proporción */
    .spacing {
        padding: 0 6rem;
        margin: 6rem 0 2rem;
    }

    /* Imagen de fondo en modo horizontal */
    .SectionH1-bg {
        width: 100vw;
        background-position: top 25% left 0;
    }

    /* Sección Projects */
    .SectionProjects-article {
        padding-top: 4rem;
        /* Aumenta el espacio */
    }

    /* Sección Map */
    .SectionMap-iframe {
        min-height: 30rem;
        /* Cambio en la altura para mantener una cierta proporción */
    }

    /* Sección Contacto */
    .SectionContact-form {
        padding: 0 6rem;
        /* Cambio en el padding para mantener una cierta proporción */
    }
}

/* Dispositivos grandes (desktops, 992px o más) */
@media (min-width: 992px) {

    /* Header */
    /* Oculta menu hamburguesa */
    .Header-button,
    .Header-span {
        width: 0;
        cursor: auto;
        opacity: 0;
        padding: 0;
    }

    /* Posiciona la lista de la navegación en el header */
    .Header-ul {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        font-size: var(--step-2);
        line-height: var(--step-3);
        padding: 0;
        padding-right: 2rem;
        position: static;
        transform: none;
        transition: none;
    }

    /* Sección About */
    /* Añade display flex para cambiar el estilo de la sección */
    .SectionAbout-article,
    .SectionAbout-article--nosotros {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }

    .SectionAbout-article--nosotros {
        flex-flow: row-reverse;
        margin-top: 0;
    }

    .SectionAbout-text {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        align-self: center;
    }

    .left {
        padding-left: 5%;
    }

    .right {
        padding-right: 5%;
        text-align: right;
    }

    .SectionAbout-picture {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }

    .SectionAbout-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Quita la transformación de las imágenes */
    .SectionAbout-img:hover {
        transform: none;
    }

    /* Sección Projects */
    /* Añade display grid para la galería de imágenes */
    .SectionProjects-gallery {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* Lightbox */
    .SectionProjects-lightbox {
        position: fixed;
        top: 25%;
        left: 25%;
        width: 50%;
        max-width: 70rem;
        height: auto;
        padding: 0 2% 2%;
        background-color: var(--var-color-light-gray);
        z-index: 992;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: scale(1);
        transition: all 0.5s ease;
        /* Transición para que el lightbox aparezca de manera fluida */
        pointer-events: none;
    }

    .SectionProjects-lightbox.active {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        pointer-events: auto;
    }

    .SectionProjects-lightbox.active~header {
        display: none;
        /* Oculta el header cuando el lightbox aparece para que la imágen esté en absoluta prominencia */
    }

    .SectionProjects-btn {
        font-size: var(--step-2);
        align-self: flex-end;
        margin: 2% 2%;
        border-style: none;
        cursor: pointer;
        background-color: var(--var-color-light-gray);
    }

    .SectionProjects-article:hover {
        cursor: pointer;
        /* Cambia el cursor para que el usuario sepa que se puede hacer clic en las imágenes */
    }

    .close {
        width: 5rem;
        color: var(--var-color-black);
        transform: none;
        transition: all 0.4s ease;
        /* Transición para que el lightbox se cierre de manera fluida */
        background-color: var(--var-color-white);
        cursor: pointer;
    }

    .large {
        width: 100%;
        height: auto;
        color: var(--var-color-black);
        transition: all 0.5s ease;
        background-color: var(--var-color-light-gray);
    }

    .SectionProjects-ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        gap: 0.8rem;
        margin: 0;
    }

    .SectionProjects-btn--lightbox {
        width: 0.8rem;
        height: 0.8rem;
        background-color: var(--var-color-gray);
        border-style: none;
        border-radius: 50%;
        transform: scale(1);
        /* Cambia el tamaño del botón de la imágen en el lightbox */
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
    }

    .SectionProjects-btn--lightbox:hover {
        cursor: pointer;
    }

    .SectionProjects-btn--lightbox.active {
        background-color: var(--var-color-black);
        /* Cambia el color del botón de la imágen seleccionada en el lightbox */
        transform: scale(1.5);
    }

    /* Overlay para el fondo cuando el lightbox esté activo */
    .SectionProjects-lightbox.active+.SectionProjects-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        opacity: 1;
    }

    /* Sección Contact */
    /* Añade display flex para que los artículos aparezcan uno al lado del otro */
    .SectionContact {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10%;
    }

    .SectionContact-info {
        width: 30%;
    }

    .SectionContact-article {
        align-items: flex-start;
    }

    .SectionContact-h3 {
        margin-top: 0;
    }

    .SectionContact-help {
        width: 50%;
        margin: 0;
    }

    /* Añade display grid para que los elementos ocupen diferentes colunas y líneas */
    .SectionContact-form {
        width: 100%;
        padding: 0;
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .SectionContact-input:nth-child(2),
    .SectionContact-input:nth-child(4) {
        margin-bottom: 1rem;
    }

    .SectionContact-input:nth-child(6),
    .SectionContact-input:nth-child(8),
    .SectionContact-input:nth-child(10),
    .SectionContact-text {
        grid-column: span 2;
    }

    .SectionContact-submit {
        grid-column: 2 / 3;
    }
}